@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root {
  --header-height: 4rem;
  --footer-height: 2rem;
  --height-gap: calc(var(--header-height) + var(--footer-height));
}
}

@layer components {
  .btn {
    @apply rounded-md bg-emerald-500 px-4 py-2 text-white hover:bg-emerald-600 disabled:bg-emerald-500 disabled:cursor-not-allowed;
  }
  .btn2 {
    @apply bg-gradient-to-r from-orange-400 to-rose-400;
  }
  .btn3 {
    @apply bg-gradient-to-r from-emerald-500 via-green-400 to-emerald-600 bg-no-repeat;
  }
  .side-menu-item {
    @apply m-2 p-2 flex items-center gap-4 rounded-md hover:bg-gray-800;
  }
  
  .list-item-controls {
    @apply flex gap-2 border w-fit absolute transition-all duration-[0.2s] ease-[ease-in-out] pl-2 p-0.5 rounded-[2rem] border-solid border-transparent right-1 top-[0.3em] hover:border hover:bg-gray-800 hover:border-solid hover:border-[#888];
    clip-path: ellipse(101% 180% at 180% 50%);
  }
  
  .list-item-controls:hover {
    clip-path: ellipse(100% 100% at 50% 50%);
  }
  .list-item-controls:hover * .vis {
    @apply text-white;
  }
  .ctrl-btn {
    @apply border rounded flex justify-center items-center w-6 aspect-[1/1] cursor-pointer text-inherit border-solid border-transparent top-0 hover:border hover:border-solid hover:border-[#555];
    background: none;
  }

  .vis {
    @apply text-[0.8em] text-gray-950 pt-[5px] p-[3px] rounded-[50%] hover:text-white;
  }

  .loading-dot {
    @apply w-2 aspect-square rounded-[50%] bg-fixed;
  }
  .gradient-1 {
    @apply bg-[length:4rem_5rem] bg-gradient-to-r from-teal-500 via-purple-500 to-orange-500;
  }
}
.a:hover .b {
  color: white;
}

.vertical_scroll::-webkit-scrollbar {
  width: 0.5rem;
} 
.vertical_scroll::-webkit-scrollbar-track {
  background-color: rgba(55, 65, 81, 1);
  border-radius: 50px;
  /* margin-block: 1em; */
}
.vertical_scroll::-webkit-scrollbar-thumb {
  background-color: rgba(110, 231, 183, 1);
  border-radius: 50px;
}

.p5 {
  animation-delay: .5s;
}
.p4 {
  animation-delay: .4s;
}
.p3 {
  animation-delay: .3s;
}
.p2 {
  animation-delay: .2s;
}
.p1 {
  animation-delay: .1s;
}
